<!-- <main
  class="max-w-xl md:max-w-2xl lg:max-w-6xl mx-auto py-xl px-md md:px-xl grid grid-cols-1 gap-md md:grid-cols-2 lg:grid-cols-3"
>
  <div class="flex flex-col p-lg bg-secondary-light shadow-md hover:shadow-lg">
    <div class="pb-md text-lg font-bold">Angular</div>
    <p class="mb-xl flex-1">
      Angular is an application design framework and development platform for creating efficient and sophisticated
      single-page apps.
    </p>
    <a
      class="py-sm px-md bg-primary-dark hover:bg-primary text-white flex self-end"
      href="https://angular.io/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Show me!
    </a>
  </div>

  <div class="flex flex-col p-lg bg-secondary-light shadow-md hover:shadow-lg">
    <div class="pb-md text-lg font-bold">Tailwind CSS</div>
    <p class="mb-xl flex-1">
      Tailwind CSS is a utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that
      can be composed to build any design, directly in your markup.
    </p>
    <a
      class="py-sm px-md bg-primary-dark hover:bg-primary text-white flex self-end"
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Show me!
    </a>
  </div>

  <div class="flex flex-col p-lg bg-secondary-light shadow-md hover:shadow-lg">
    <div class="pb-md text-lg font-bold">Nx</div>
    <p class="mb-xl flex-1">
      Nx is a smart, fast and extensible build system with first class monorepo support and powerful integrations.
    </p>
    <a
      class="py-sm px-md bg-primary-dark hover:bg-primary text-white flex self-end"
      href="https://nx.dev/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Show me!
    </a>
  </div>
</main> -->

<div class="layout bg-primary text-2xl text-white font-bold shadow-mdn mb-4">
  <header class="banner sticky top-0 px-xl py-md ">
    {{ title }}
  </header>
</div>
<div class="layout">
  <nav
    class="main-nav"
    role="navigation"
    aria-label="Main"
  >
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/simple-service']">Simple Service</a>
    <a [routerLink]="['/api-requests']">API Requests</a>
    <hr>
    <a [routerLink]="['/template-form']">Template Form</a>
    <a [routerLink]="['/reactive-form']">Reactive Form</a>
    <hr>
    <a [routerLink]="['/ngrx-counter']">NGRX Counter</a>
    <a [routerLink]="['/ngrx-todo']">NGRX TODO</a>
  </nav>
  <main
    class="main-content"
    role="main"
  >
    <router-outlet></router-outlet>
  </main>
</div>
